@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 100%;
    background: #010625;
    color: #fff;
    padding: 0px 64px 64px;
}

.wrap-1 {
    display: flex;
}

.wrap-1 .text-content {
    flex: 1 0 40%;
    max-width: 40%;
}

.wrap-1 .img-box {
    flex: 1 0 60%;
    max-width: 60%;
    display: flex;
    gap: 36px;
}

.wrap-1 .img-box img {
    max-width: 100%;
    height: auto;
}

.wrap-1 .text-content h1 {
    font-size: 88px;
    line-height: 1.1;
    margin-top: 80px;
}

.wrap-1 .text-content p {
    font-size: 24px;
    margin: 40px 0;
}

.wrap-1 .text-content a {
    font-size: 20px;
    padding: 16px 48px;
    background-color: #fff;
    color: #01062D;
    display: inline-block;
    text-decoration: none;
    border-radius: 16px;
}

.wrap-1 .text-content a:hover {
    background-color: #ffffffd5;
}

.wrap-2 {
    display: flex;
    margin-top: 64px;
    gap: 10%;
    color: #fff;
}

.wrap-2 figure {
    flex: 1 0 50%;
    max-width: 50%;
}

.wrap-2 figure img {
    max-width: 100%;
    height: auto;
    border-radius: 32px;
}

.wrap-2 ul {
    flex: 1 0 40%;
    max-width: 40%;
    padding: 0 20px;
    position: relative;
    margin-top: -120px;
}

.wrap-2 ul::before {
    content: "";
    width: 96px;
    height: 8px;
    background-color: #fff;
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 4%;
}

.wrap-2 ul li {
    list-style: none;
    margin-top: 40px;
}

.wrap-2 ul li span {
    font-size: 32px;
    line-height: 32px;
    font-weight: 900;
}

.wrap-2 ul li p {
    font-size: 24px;
    line-height: 32px;
    margin-top: 8px;
    font-weight: 300;
}


.wrap-3 {
    margin-top: 72px;
}

.wrap-3 ul {
    display: flex;
    gap: 24px;
}

.wrap-3 ul li {
    list-style: none;
}

.wrap-3 ul li img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}