@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.wrap-1 {
    max-width: 100%;
    background: url(images/bg-img.png) center center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 200px 0;
}

.wrap-1 h1 {
    font-size: 96px;
    line-height: 88px;
}

.wrap-1 p {
    font-size: 26px;
    margin: 40px auto;
    max-width: 549px;
}

.wrap-1 a {
    font-size: 20px;
    padding: 16px 48px;
    background-color: #fff;
    color: #252525;
    display: inline-block;
    text-decoration: none;
    border-radius: 36px;
}

.wrap-1 a:hover {
    background-color: #ffffff72;
    color: #fff;
}

.wrap-2 ul {
    display: flex;
}

.wrap-2 ul li {
    list-style: none;
    flex: 1 0 33.33%;
    max-width: 33.33%;
}

.wrap-2 ul li img {
    max-width: 100%;
}

@media screen and (max-width:768px) {
    .wrap-1 h1 {
        font-size: 75px;
        line-height: 80px;
    }
}

@media screen and (max-width:520px) {
    .wrap-1 {
        padding: 100px 15px;
    }

    .wrap-1 h1 {
        font-size: 55px;
        line-height: 65px;
    }

    .wrap-1 p {
        font-size: 18px;
        margin: 20px auto;
    }

    .wrap-1 a {
        font-size: 18px;
        padding: 12px 36px;
    }
}