* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

.container {
    max-width: 100%;
    padding: 4rem;
    background-color: #f2f2f2;
}

.box {
    display: flex;
    padding-bottom: 30px;
}

.left {
    flex: 1 0 50%;
    max-width: 50%;
}

.right {
    flex: 1 0 50%;
    max-width: 50%;
}

.right img {
    max-width: 100%;
    height: auto;
}

.left h1 {
    font-size: 72px;
    color: #252525;
    line-height: 94px;
    max-width: 422px;
}

.left>p {
    color: #252525;
    font-size: 24px;
    max-width: 483px;
    margin: 20px 0;
}

.left a {
    font-size: 20px;
    padding: 16px 48px;
    background-color: #252525;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border-radius: 36px;
    margin-bottom: 60px;
}

.left a:hover {
    background-color: #252525cc;
}

.box-bottom {
    display: flex;
    background-color: #fff;
    padding: 30px 64px;
}

.img-box ul {
    display: flex;
    gap: 20px;
    margin-top: -140px;
}

.img-box ul li {
    list-style: none;
}

.img-box ul li img {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
}

.content {
    padding: 0 30px;
    flex: 1 0 45%;
    max-width: 45%;
}

.img-box {
    flex: 1 0 55%;
    max-width: 55%;
}

.content span {
    font-size: 24px;
    color: #252525;
    position: relative;
}

.content span::before {
    content: "";
    width: 52px;
    height: 6px;
    background-color: #252525;
    display: inline-block;
    position: absolute;
    top: -16px;
    left: 0;
}

.content ul {
    display: flex;
    gap: 21px;
}

.content ul li {
    list-style: none;
}

.content ul li img {
    max-width: 100%;
    height: auto;
}

.content p {
    color: #252525cc;
    font-size: 22px;
    margin-top: 5px;
}

@media screen and (max-width:768px) {
    .container {
        padding: 2rem;
    }

    .img-box ul {
        margin-top: 0px;
    }

    .box {
        padding-bottom: 0;
    }

    .box-bottom {
        padding: 30px;
    }

    .left h1 {
        font-size: 55px;
        line-height: 70px;
    }
}

@media screen and (max-width:500px) {
    .container {
        padding: 1rem;
    }

    .left,
    .right,
    .content,
    .img-box {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .content {
        padding: 0;
    }

    .box,
    .box-bottom {
        flex-flow: row wrap;
    }

    .box-bottom {
        gap: 40px;
    }

    .left h1 {
        font-size: 35px;
        line-height: 46px;
    }

    .left>p {
        font-size: 17px;
        margin: 10px 0 20px;
    }

    .left a {
        font-size: 17px;
        padding: 10px 30px;
        margin-bottom: 30px;
    }

    .content p {
        font-size: 17px;
    }
}