@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 100%;
    padding: 0 64px 64px;
    background: #E8D9D6;
}

.box {
    display: flex;
}

.left,
.right {
    flex: 1 0 50%;
    max-width: 50%;
    position: relative;
}

.left h1 {
    color: #271908;
    margin-top: 272px;
    font-size: 112px;
    line-height: 148px;
}

.left p {
    color: #252525;
    font-size: 24px;
    line-height: 36px;
    margin: 32px 0;
}

.left button {
    font-size: 22px;
    padding: 16px 40px;
    background-color: #271908;
    border-radius: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.left button:hover {
    background-color: #50371a;
}

.right .img {
    max-width: 350px;
    margin: 50px auto 0;
    position: relative;
}

.right .img img {
    max-width: 100%;
    height: auto;
}

.shape-bg {
    position: absolute;
    top: 0;
    left: 0;
}

.vector-1 {
    position: absolute;
    top: 32%;
    left: 7%;
}

.vector-2 {
    position: absolute;
    top: 25%;
    right: 6%;
}

.leaf-design {
    position: absolute;
    top: 37%;
    right: 30%;
}

.boba-tea {
    position: absolute;
    top: 7%;
    left: -4%;
}

ul {
    display: flex;
    gap: 16px;
    margin-top: 140px;
}

ul li {
    list-style: none;
    display: flex;
    gap: 29px;
    background-color: #fff;
    border-radius: 104px;
    align-items: center;
}

ul li img {
    border-radius: 77px;
}

ul li .text {
    padding: 30px 10px;
}

ul li .text span {
    color: #252525;
    font-size: 40px;
    font-weight: 600;
    line-height: 36px;
}

ul li .text p {
    color: #252525;
    font-size: 18px;
}

@media screen and (max-width:1220px) {
    .shape-bg {
        display: none;
    }

    .boba-tea {
        top: 0%;
    }
}

@media screen and (max-width:1024px) {
    .shape-bg {
        display: none;
    }

    ul {
        flex-flow: row wrap;
    }

    ul li {
        flex: 1 0 48%;
        max-width: 48%;
    }

    .left h1 {
        margin-top: 272px;
        font-size: 85px;
        line-height: 100px;
    }

    .vector-2 {
        right: -10%;
    }

    .vector-1 {
        left: -1%;
    }

}

@media screen and (max-width:768px) {
    .container {
        padding: 16px;
    }

    .left,
    .right {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .box {
        flex-wrap: wrap;
    }

    .left h1 {
        margin-top: 20px;
    }

    .boba-tea {
        top: 53%;
        left: 64%;
    }

    .vector-2 {
        right: 11%;
    }

    .vector-1 {
        left: 10%;
    }

    ul {
        margin-top: 20px;
    }

    ul li {
        gap: 0;
    }
}

@media screen and (max-width:600px) {
    ul li {
        flex: 1 0 100%;
        max-width: 100%;
    }

    .boba-tea {
        left: 53%;
    }
}

@media screen and (max-width:480px) {
    .left h1 {
        margin-top: 0px;
        font-size: 60px;
        line-height: 80px;
    }

    .left p {
        font-size: 18px;
        line-height: 24px;
        margin: 10px 0 15px;
    }

    .left button {
        font-size: 20px;
        padding: 12px 30px;
    }

    .boba-tea {
        display: none;
    }

    .right .img {
        margin: 20px auto 0;
    }

    .vector-2 {
        right: -1%;
    }

    .vector-1 {
        left: -2%;
    }

    ul li .text span {
        font-size: 30px;
    }

    ul li .text p {
        font-size: 15px;
    }
}